.footer {
  display: flex;
  background-color: #f0f2f9;
  padding: 40px;
  justify-content: space-between;
}
.footer__content {
  display: flex;
}
.footer__heading {
  padding-bottom: 15px;
  font-weight: 500;
}
.footer ul {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  color: #303140;
}
.footer li {
  font-size: 14px;
  padding-bottom: 15px;
  color: #303140;
}

.downloads img {
  max-width: 100px;
}
/* For Tablet */
@media only screen and (min-width: 426px) and (max-width: 750px){
  .footer{
    display: flex;
    padding-left: 0px;
  }
  .footer__content {
    flex-direction: column;
  }
  .footer li:last-child{
    padding-bottom: 10px;
  }
  .footer li{
    padding: 2px;
  }
  .footer__heading{
    font-size: 18px;
    padding-bottom: 4px;
  }
}

/* For mobile */
@media only screen and (max-width: 425px) {
  .footer{
    display: flex;
    padding-left: 0px;
    /* align-items: center; */
    flex-direction: column;
    
  }
  .footer__content {
    
    flex-direction: column;
  }
  .footer__heading {
    padding-bottom: 15px;
    font-weight: 500;
  }
  .footer li {
    font-size: 14px;
    padding-bottom: 15px;
    color: #303140;
  }
}