.subscription {
  /* margin: 40px 40px 60px 40px; */
  padding: 60px 40px;
}
.subscription__heading {
  text-align: center;
  font-size: 37px;
  font-weight: 500;
}
.subscription__list {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  align-items: center;
  /* margin: 30px 200px; */
  /* flex-flow: row wrap; */
}
.subscription__list li {
  text-align: center;
  color: darkslategray;
  width: 100px;

}
.subscription__list img {
  height: 50px;

  /* opacity: 80%; */
  width: 50px;
}
.quote {
  padding: 70px 40px;
  text-align: center;
  background-color: #fafbfd;
}
.quote__text {
  font-size: 25px;
  font-style: italic;
  font-weight: 500;
  padding-bottom: 15px;
  color: darkslategray;
}
.quote__img {
  margin-right: 15px;
  height: 40px;
  /* opacity: 40%; */
  background-size: contain;
}
.quote__footer-cite {
  font-style: normal;
  font-size: 17px;
  color: darkslategray;
}
/* For Tablet */
@media only screen and (min-width: 426px) and (max-width: 750px){
  .subscription{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subscription__list{
    display: flex;
    
    flex-flow: row wrap;
    justify-content: center;
    padding: 0px;
    margin: 0px;
      }
      .subscription__list li{
        width: 100px;
      }
  
}


/* For Mobile */
@media only screen and (max-width: 425px) {
  .subscription{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subscription__list{
display: flex;

flex-flow: row wrap;
justify-content: center;
padding: 0px;
margin: 0px;
  }
  .subscription__list li{
    width: 100px;
  }


}
